.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 280px;
  flex-grow: 1;
  padding: 0 15px;

  @media(min-width: @width-tablet) {
    max-width: 350px;
    margin-right: 20px;
    padding: 0;
  }

  @media(min-width: @width-desktop) {
    max-width: 503px;
    margin-right: 45px;
    padding: 0;
  }
}

.form__item {
  width: 100%;
  margin-bottom: 18px;
  padding: 12px 12px 7px;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  color: @color-base;
  background-color: @color-white;
  border: none;
  border-radius: 5px;
}

.form__message {
  height: 100px;

  @media(min-width: @width-tablet) {
    height: 120px;
  }

  @media(min-width: @width-desktop) {
    height: 173px;
  }
}

.form__button {
  width: 143px;
  height: 43px;
  padding: 0;
  font-weight: bold;
  line-height: 43px;
  text-transform: uppercase;
  cursor: pointer;

  @media(min-width: @width-tablet) {
    margin-bottom: 0;
  }

  &:hover {
    background-color: @color-hover;
  }
}