.social {
  display: flex;
}

.social__link {
  display: block;
  width: 45px;
  height: 45px;
  font-size: 0;
}

.social__link:not(last-of-type) {
  margin-right: 6px;
}

.social__icon {
  transition: 0.2s;
}

.social__link:hover>.social__icon {
  fill: @color-hover;
}

.social__icon {
  width: 45px;
  height: 45px;
  fill: #fff;
}